<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <base href="../">

  <title>Blog Tag Page - Vvveb Default Blog Template</title>

  <link href="css/style.css" rel="stylesheet">

</head>


<body class="tag">

  <header id="main-header" class="">
    <nav class="navbar navbar-expand-lg navbar-light p-4">
      <div class="container-fluid">
        <div>
          <span class="d-lg-none d-block">
            <!-- hidden spacer to center brand on mobile -->
          </span>

          <a class="navbar-brand d-none d-lg-inline-block pb-0" data-v-url="index/index" href="/"> Vvveb Blog </a>
          <small class="d-block text-muted">minimal blog template</small>

          <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="#">
            <img src="//placehold.it/40?text=LOGO" alt="logo">
          </a>
          <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>



        <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbar" data-v-component-menu="header" data-v-slug="main-menu">
          <ul class="navbar-nav ms-auto flex-nowrap" data-v-menu-items>
            <li class="nav-item dropdown" data-v-menu-item data-v-class-if-has-dropdown="category.children > 0">

              <a class="nav-link" href="https://themes.vvveb.com" data-v-if="category.children <= 0" data-v-menu-item-url>
                <span data-v-menu-item-name>Services</span>
              </a>

              <a class="nav-link dropdown-toggle" href="#" data-v-if="category.children > 0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-v-menu-item-url>
                <span data-v-menu-item-name>Resources</span>
              </a>

              <div class="dropdown-menu" data-v-menu-item-recursive>
                <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
                  <a class="dropdown-item" href="https://github.com/givanz/VvvebJs/wiki" data-v-menu-item-url>
                    <span data-v-menu-item-name>User Documentation</span>
                  </a>
                </div>
                <div data-v-menu-item class="nav-item" data-v-menu-item data-v-class-if-dropdown="category.children > 0">
                  <a class="dropdown-item" href="https://github.com/givanz/VvvebJs/wiki" data-v-menu-item-url>
                    <span data-v-menu-item-name>Developer Documentation</span>
                  </a>
                </div>
              </div>
            </li>
            <li class="nav-item" data-v-menu-item>
              <a class="nav-link" href="https://blog.vvveb.com" data-v-menu-item-url>
                <span data-v-menu-item-name>Blog</span>
              </a>
            </li>
            <li class="nav-item" data-v-menu-item>
              <a class="nav-link" href="https://www.vvveb.com/page/contact" data-v-menu-item-url>
                <span data-v-menu-item-name>Contact</span>
              </a>
            </li>
            <li class="nav-item" data-v-menu-item>
              <a class="nav-link" href="https://www.vvveb.com" data-v-menu-item-url>
                <span data-v-menu-item-name>About us</span>
              </a>
            </li>
            <li>
              <!-- User Login Info -->
              <div class="dropdown user-box nav-item">
                <a class="dropdown-toggle nav-link " href role="button" id="user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-v-url="user/index">
                  <!-- <img src="img/user.svg" width="20" alt> -->
                  <i class="la la-lg la-user"></i>
                </a>

                <div class="dropdown-menu dropdown-menu-end login-box p-4" aria-labelledby="user-dropdown">

                  <div data-v-component-user>

                    <div class="notifications" data-v-notifications>

                      <div class="alert alert-danger d-flex alert-dismissable" role="alert" data-v-if="this.errors">

                        <div class="icon align-middle me-2">
                          <i class="align-middle la la-2x lh-1 la-exclamation-triangle"></i>
                        </div>

                        <div class="flex-grow-1 align-self-center text-small">
                          <div data-v-notification-error>
                            <div data-v-notification-text>
                              Vvveb 0.2 is now available! <a href="update">Update now</a>
                            </div>
                          </div>
                        </div>


                        <button type="button" class="btn-close align-middle" data-bs-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">
                            <!-- <i class="la la-times"></i> -->
                          </span>
                        </button>
                      </div>

                      <div class="alert alert-success d-flex  alert-dismissable d-flex" role="alert" data-v-notification-success>

                        <div class="icon align-middle me-2">
                          <i class="align-middle la la-2x lh-1 la-check-circle"></i>
                        </div>

                        <div class="flex-grow-1 align-self-center align-middle" data-v-notification-text>
                          You successfully read this important alert message.
                        </div>

                        <button type="button" class="btn-close align-middle" data-bs-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">
                            <!-- <i class="la la-times"></i> -->
                          </span>
                        </button>
                      </div>

                      <div class="alert alert-primary d-flex alert-dismissable d-flex" role="alert" data-v-notification-info>

                        <div class="icon align-middle me-2">
                          <i class="align-middle la la-2x lh-1  la-info-circle"></i>
                        </div>

                        <div class="flex-grow-1 align-self-center" data-v-notification-text>
                          You successfully read this important alert message.
                        </div>

                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">
                            <!-- <i class="la la-times"></i> -->
                          </span>
                        </button>
                      </div>

                    </div>


                    <form action method="post" enctype="multipart/form-data" data-v-url="user/login" data-v-vvveb-action="login" data-v-vvveb-on="submit">

                      <input type="hidden" name="csrf" data-v-csrf>

                      <div class="login-form" data-v-if-not="component.user_id">

                        <div class="mb-3">
                          <label class="form-label" for="input-email">E-Mail Address</label>
                          <input type="email" name="email" value placeholder="E-Mail Address" id="input-email" class="form-control" required>
                        </div>

                        <div class="mb-3">
                          <label class="form-label" for="input-password">Password</label>
                          <input type="password" minlength="4" autocorrect="off" name="password" value placeholder="Password" id="input-password" class="form-control" required>
                        </div>

                        <button type="submit" value="Login" class="btn btn-primary 	w-100	">

                          <span class="loading d-none">
                            <span class="spinner-border spinner-border-sm align-middle" role="status" aria-hidden="true">
                            </span>
                            <span>Authenticating</span>...
                          </span>

                          <span class="button-text">
                            Login <i class="la la-arrow-right float-end ms-2"></i>
                          </span>

                        </button>
                        <div class="my-2"></div>
                        <a href="/user/reset" data-v-url="user/reset/index" class="my-2">Forgotten Password</a>

                        <div class="my-2"></div>
                        <a href="#">
                          <span class="btn btn-secondary btn-sm">
                            <i class="lab la-google la-lg"></i>
                          </span>
                        </a>
                        <a href="#">
                          <span class="btn btn-secondary btn-sm">
                            <i class="lab la-facebook la-lg"></i>
                          </span>
                        </a>
                        <hr>
                        <span>Don’t have an account?</strong>
                          <a href="/user/signup" data-v-url="user/signup/index">Register Account</a>

                      </div>


                      <div class="user-form" data-v-if="component.user_id">
                        <div>Welcome <b data-v-display_name>John Doe</b>
                        </div>

                        <ul class="m-2 list-unstyled">
                          <li>
                            <a href="user" data-v-url="user/index">My account</a>
                          </li>
                          <li>
                            <a href="user/comments" data-v-url="user/comments/index">Comments</a>
                          </li>
                          <li>
                            <a href="user/orders" data-v-url="user/orders/index">Orders</a>
                          </li>
                          <li>
                            <a href="user/downloads" data-v-url="user/downloads/index">Downloads</a>
                          </li>
                          <li>
                            <a href="user/profile" data-v-url="user/profile/index">Profile</a>
                          </li>
                        </ul>


                        <input type="hidden" name="logout">

                        <button type="submit" value="logout" class="btn btn-primary 	w-100	">

                          <span class="loading d-none">
                            <span class="spinner-border spinner-border-sm align-middle" role="status" aria-hidden="true">
                            </span>
                            <span>Loading ...</span>...
                          </span>

                          <span class="button-text">
                            Logout
                          </span>

                        </button>
                      </div>
                    </form>



                  </div>
                </div>
              </div>

            </li>
          </ul>


          <form class="d-flex">

            <div class="input-group">
              <!-- input type="text" class="form-control" placeholder="Search for..." -->
              <span class="input-group-append">
                <button class="btn btn-light la-flip-horizontal" type="button">

                  <i class="la la-search"></i>


                </button>
              </span>
            </div>

          </form>
        </div>
      </div>
    </nav>

  </header>


  <section class="inner-page-hero">
    <div class="">
      <div class="title-container">
        <div class="container">
          <h1>Tag: <span data-v-tag-name>tag2</span>
          </h1>
        </div>
      </div>


      <!-- img data-v-post-image src="img/bg-img/bg-7.jpg" alt="" -->
    </div>
  </section>

  <main id="site-content" role="main">

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-7 col-lg-8 col-xl-9" data-v-component-posts="tag" data-v-limit="10">

          <!-- Blog Post -->

          <div data-v-if="posts.count < 1">
            <h3 class="text-center">No posts to display!</h3>
          </div>

          <article class="card  post-archive-item post" data-v-post data-v-if="posts.count > 0">
            <div class="card-header">

              <a class="post-title" href="#" data-v-post-url>
                <h2 class="card-title display-4 text-center" data-v-post-name>Post Title</h2>
              </a>


              <div class="post-meta-wrapper post-meta-single post-meta-single-top">

                <ul class="post-meta">

                  <li class="post-author meta-wrapper">
                    <span class="meta-icon">
                      <span class="screen-reader-text">Post author</span>
                      <i class="la la-user"></i>
                    </span>
                    <span class="meta-text">
                      By <a href="#" data-v-post-author-url>
                        <span data-v-post-display_name>admin</span>
                      </a>
                    </span>
                  </li>

                  <li class="post-date meta-wrapper">
                    <span class="meta-icon">
                      <span class="screen-reader-text">Post date</span>

                      <i class="la la-calendar"></i>
                    </span>
                    <span class="meta-text">
                      <a href="#" data-v-post-url>
                        <span data-v-post-date_added data-filter-friendly_date>December 31, 2020</span>
                      </a>
                    </span>
                  </li>
                  <li class="post-comment-link meta-wrapper">
                    <span class="meta-icon">
                      <i class="la la-comment"></i>
                    </span>
                    <span class="meta-text">
                      <a href="#comments" data-v-post-comments-url>
                        <span data-v-post-comment_text>0 Comments</span>
                      </a>
                    </span>
                  </li>

                </ul><!-- .post-meta -->

              </div>
            </div>


            <img class="img-fluid" src="http://placehold.it/750x300" alt="Card image cap" data-v-post-image data-v-if="post.image">

            <div class="card-body">

              <div class="card-text post-content" data-v-post-content>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!
              </div>

            </div>

            <div class="card-footer text-muted">

              <div data-v-component-content-tags="blog-post">
                <div data-v-if="count > 0">
                  <ul data-v-cats class="tags">
                    <li data-v-cat>
                      <a href="#" data-v-cat-url>
                        <span data-v-cat-name>tag 1</span>
                      </a>
                    </li>
                    <li data-v-cat>
                      <a href="#" data-v-cat-url>
                        <span data-v-cat-name>tag 2</span>
                      </a>
                    </li>
                    <li data-v-cat>
                      <a href="#" data-v-cat-url>
                        <span data-v-cat-name>tag 3</span>
                      </a>
                    </li>
                    <li data-v-cat>
                      <a href="#" data-v-cat-url>
                        <span data-v-cat-name>tag 4</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>


              <!--
		<a class="float-end" href="#" data-v-post-url><span>Read More </span></a>
		-->
            </div>

          </article>


          <div data-pagination data-v-parent-component="posts" data-v-parent-index="0">

            <nav data-v-if="page_count > 1">
              <ul class="pagination pagination-sm justify-content-center" style="--bs-pagination-border-color:transparent;border-top: 1px solid #eee;padding-top: 1rem;">

                <!--
			<li class="page-item pager-first" data-first>
				<a class="page-link" title="First page" href="#" data-page-url data-v-if="current_page > 1">
					<span aria-hidden="true" class="la la-angle-double-left"></span>
					<span class="sr-only">First</span>
				</a>
			</li>
			-->

                <li class="page-item pager-prev" data-prev>

                  <a class="page-link" href="#" aria-label="Previous" title="Previous page" data-page-url data-v-if="current_page > 1">
                    <span aria-hidden="true" class="la la-angle-left la-lg"></span>
                    <!-- <span>Newer Posts</span> -->
                  </a>

                </li>



                <li class="page-item" data-page>
                  <a class="page-link" href="#" data-page-no data-page-url>1</a>
                </li>
                <li class="page-item" data-page>
                  <a class="page-link" href="#" data-page-no data-page-url>2</a>
                </li>
                <li class="page-item" data-page>
                  <a class="page-link" href="#" data-page-no data-page-url>3</a>
                </li>
                <li class="page-item" data-page>
                  <a class="page-link" href="#" data-page-no data-page-url>4</a>
                </li>
                <li class="page-item" data-page>
                  <a class="page-link" href="#" data-page-no data-page-url>5</a>
                </li>

                <li class="page-item pager-next" data-next>
                  <a class="page-link" href="#" aria-label="Next" title="Next page" data-page-url data-v-if="current_page < page_count">
                    <!-- <span>Older Posts</span> -->
                    <span aria-hidden="true" class="la la-angle-right la-lg"></span>
                  </a>
                </li>

                <!--
			<li class="page-item pager-last" data-last>
				<a class="page-link" title="Last page" href="#" data-page-url data-v-if="current_page < page_count">
				<span aria-hidden="true" class="la la-angle-double-right"></span>
					<span class="sr-only">Last</span>
				</a>
			</li>
			-->

              </ul>
            </nav>
          </div>



          <!-- Pagination -->
          <!--
<ul class="pagination justify-content-center mb-4" data-pagination data-v-parent-component="posts" data-v-parent-index="0">
  <li class="page-item" data-prev>
	<a class="page-link" href="#" data-page-url>Older</a>
  </li>
  <li class="page-item" data-next>
	<a class="page-link" href="#" data-page-url>Newer</a>
  </li>
</ul>
-->



        </div>

        <!-- Sidebar Widgets Column -->
        <aside class="col-md-5 col-lg-4 col-xl-3" role="sidebar">

          <div class="sidebar-sticky">
            <!-- Search Widget -->
            <div class="card">
              <!-- h6 class="card-header">Search</h6 -->
              <div class="card-body">
                <form method="post" action="/search">
                  <input type="hidden" name="type" class="posts">
                  <div class="input-group">
                    <input type="text" name="query" class="form-control" placeholder="Search for...">
                    <button class="btn btn-secondary" type="button">
                      <div class="la-flip-horizontal">
                        <i class="la la-search  la-flip-horizontal"></i>
                      </div>
                    </button>
                  </div>
                </form>
              </div>
            </div>

            <!-- About Widget -->
            <div class="card">
              <h6 class="card-header">About</h6>
              <div class="card-body">
                Integer non diam sit amet magna luctus mollis ac eu nisi. In accumsan tellus ut dapibus blandit.
              </div>
            </div>

            <!-- Recent posts Widget -->
            <div class="card archives-widget" data-v-component-posts="recent-posts-sidebar" data-v-limit="4">
              <div data-v-if="count > 0">
                <h6 class="card-header">Recent posts</h6>
                <div class="card-body">
                  <div class="" data-v-post>
                    <i class="la la-comment"></i>
                    <a href="#" data-v-post-url>
                      <span data-v-post-name>January 2021</span>
                    </a>
                  </div>
                  <div class="" data-v-post>
                    <i class="la la-comment"></i>
                    <a href="#" data-v-post-url>
                      <span data-v-post-name>January 2021</span>
                    </a>
                  </div>

                </div>
              </div>
            </div>

            <!-- Recent comments Widget -->
            <div class="card archives-widget" data-v-component-comments="recent-comments-sidebar" data-v-limit="4" data-v-post_title="true">
              <div data-v-if="count > 0">
                <h6 class="card-header">Recent comments</h6>
                <div class="card-body">
                  <div class="" data-v-comment>
                    <span data-v-comment-author>John Doe</span>
                    <span>on</span>
                    <a href="#" data-v-comment-url>
                      <span data-v-comment-name>January 2021</span>
                    </a>
                  </div>
                  <div class="" data-v-comment>
                    <span data-v-comment-author>John Doe</span> on
                    <a href="#" data-v-comment-url>
                      <span data-v-comment-name>January 2021</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <!-- Categories Widget -->
            <div class="card categories-widget" data-v-component-content-categories="sidebar" data-v-type="categories">
              <div data-v-if="count > 0">
                <h6 class="card-header">Categories</h6>
                <div class="card-body">
                  <ul data-v-cats>
                    <li data-v-cat>
                      <a href="#" data-v-cat-url data-v-cat-name>Web Design</a>
                    </li>
                    <li data-v-cat>
                      <a href="#" data-v-cat-url data-v-cat-name>HTML</a>
                    </li>
                    <li data-v-cat>
                      <a href="#" data-v-cat-url data-v-cat-name>Freebies</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Archives Widget -->
            <div class="card archives-widget" data-v-component-content-archives="sidebar">
              <div data-v-if="count > 0">
                <h6 class="card-header">Archives</h6>
                <div class="card-body">
                  <ul data-v-archives>
                    <li data-v-archive>
                      <a href="#" data-v-archive-url>
                        <span data-v-archive-name>January 2021</span>
                      </a>
                    </li>
                    <li data-v-archive>
                      <a href="#" data-v-archive-url>
                        <span data-v-archive-name>December 2020</span>
                      </a>
                    </li>
                    <li data-v-archive>
                      <a href="#" data-v-archive-url>
                        <span data-v-archive-name>November 2018</span>
                      </a>
                    </li>
                    <li data-v-archive>
                      <a href="#" data-v-archive-url>
                        <span data-v-archive-name>October 2018</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Popular tags Widget -->
            <div class="card tags-widget" data-v-component-content-categories="sidebar">
              <div data-v-if="count > 0">
                <h6 class="card-header">Popular tags</h6>
                <div class="card-body">
                  <ul data-v-cats class="tags">
                    <li data-v-cat>
                      <a href="#" data-v-cat-url data-v-cat-name>January 2021</a>
                    </li>
                    <li data-v-cat>
                      <a href="#" data-v-cat-url data-v-cat-name>December 2020</a>
                    </li>
                    <li data-v-cat>
                      <a href="#" data-v-cat-url data-v-cat-name>November 2018</a>
                    </li>
                    <li data-v-cat>
                      <a href="#" data-v-cat-url data-v-cat-name>October 2018</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>


            <!-- Archives Widget Select -->
            <div class="card archives-widget" data-v-component-content-archives="sidebar">
              <div data-v-if="count > 0">
                <h6 class="card-header">Archives</h6>
                <div class="card-body">
                  <select class="form-control" onchange="window.location.href = this.value" data-v-archives>
                    <option class="text-muted">
                      <span>Select month</span>
                    </option>

                    <option data-v-archive value="" data-v-archive-url>
                      <span data-v-archive-name>January 2021</span>
                    </option>

                    <option data-v-archive value="" data-v-archive-url>
                      <span data-v-archive-name>December 2020</span>
                    </option>

                    <option data-v-archive value="" data-v-archive-url>
                      <span data-v-archive-name>November 2018</span>
                    </option>

                    <option data-v-archive value="" data-v-archive-url>
                      <span data-v-archive-name>October 2018</span>
                    </option>
                  </select>

                </div>
              </div>
            </div>

          </div>

        </aside>



      </div>
      <!-- /.row -->

    </div>
  </main>

  <footer class="site-footer">
    <div class="container" data-v-component-menu="footer" data-v-menu_id="5">

      <div class="row" data-v-menu-items>

        <div class="col-md-3">
          <img class="logo" src="img/logo.png">
        </div>


        <div class="col-md-3" data-v-menu-item data-v-if="category.children > 0">
          <h6 data-v-menu-item-name>Vvveb</h6>
          <nav data-v-menu-item-recursive>
            <div data-v-menu-item data-v-if="category.children == 0">
              <a href="https://themes.vvveb.com/" data-v-menu-item-url>
                <span data-v-menu-item-name>Themes</span>
              </a>
            </div>
            <div data-v-menu-item data-v-if="category.children == 0">
              <a href="https://plugins.vvveb.com/" data-v-menu-item-url>
                <span data-v-menu-item-name>Plugins</span>
              </a>
            </div>
          </nav>
        </div>

        <div class="col-md-3" data-v-menu-item data-v-if="category.children > 0">
          <h6 data-v-menu-item-name>Resources</h6>
          <nav data-v-menu-item-recursive>
            <div data-v-menu-item data-v-if="category.children == 0">
              <a href="https://github.com/givanz/VvvebJs/wiki" data-v-menu-item-url>
                <span data-v-menu-item-name>User documentation</span>
              </a>
            </div>
            <div data-v-menu-item data-v-if="category.children == 0">
              <a href="https://github.com/givanz/VvvebJs/wiki" data-v-menu-item-url>
                <span data-v-menu-item-name>Developer documentation</span>
              </a>
            </div>
          </nav>
        </div>

        <div class="col-md-3" data-v-menu-item data-v-if="category.children > 0">
          <h6 data-v-menu-item-name>Contact</h6>
          <nav data-v-menu-item-recursive>
            <div data-v-menu-item data-v-if="category.children == 0">
              <a href="" target="contact.html">Contact</a>
            </div>
          </nav>
        </div>



      </div>
      <!--
		<div class="row justify-content-end">
			<div class="col-md-3 text-muted text-small mt-5">
				&copy; <span data-v-year>2022</span> <span data-v-sitename>Vvveb</span>. Powered by <a href="//vvveb.com" target="_blank">Vvveb</a>	
			</div>
		</div>
		-->

    </div>

    <div class="footer-copyright">
      <div class="container">
        <div class="d-flex flex-column flex-md-row">
          <div class="text-muted flex-grow-1">
            <a class="btn-link text-muted" href="/page/terms-conditions" target="_blank">Terms and conditions</a> |
            <a class="btn-link text-muted" href="/page/privacy-policy" target="_blank">Privacy Policy</a>
          </div>
          <div class="text-muted">
            &copy; <span data-v-year>2022</span>
            <span data-v-sitename>Vvveb</span>. <span>Powered by</span>
            <a href="//vvveb.com" class="btn-link text-muted" target="_blank">Vvveb</a>
          </div>
        </div>
      </div>
    </div>

  </footer>


</body>

</html>